@model CarDetailViewModel

<a href="/Cars" class="btn btn-secondary mb-3">← Back to Results</a>

<div class="row">
    <div class="col-md-6">
        <img src="@Model.ImagePath" class="img-fluid rounded" />
    </div>

    <div class="col-md-6">
        <h2>@Model.CarModel</h2>
        <p>@Model.CarType</p>
        <h4 class="text-primary">@Model.PricePerDay.ToString("C") / day</h4>

        <hr />

        <h5>Rental Agency</h5>
        <p><strong>@Model.AgencyName</strong></p>
        <p>Phone: @Model.AgencyPhone</p>
        <p>Email: @Model.AgencyEmail</p>

        <a class="btn btn-success mt-3"
           href="/Cars/Book/@Model.CarID">Book This Car</a>
    </div>
</div>

@if (Model.OtherCars.Any())
{
    <hr />
    <h4>Other Cars from @Model.AgencyName</h4>

    <div class="row">
        @foreach (var car in Model.OtherCars)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="@car.ImagePath" class="card-img-top" />
                    <div class="card-body">
                        <h5>@car.CarModel</h5>
                        <p>@car.CarType</p>
                        <p><strong>@car.PricePerDay.ToString("C")</strong></p>

                        <a class="btn btn-outline-primary"
                           href="/Cars/Details?carId=@car.CarID&agencyId=@Model.AgencyName">
                            View
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
