@if (Model.IsDetailView && Model.CarDetails != null)
{
    <button class="btn btn-secondary mb-3" onclick="location.href='@Url.Action("Index")'">Back</button>


    <div class="row">
        <div class="col-md-6">
            <img src="@Model.CarDetails.Car.ImagePath" class="img-fluid border rounded" />
        </div>
        <div class="col-md-6">
            <h3>@Model.CarDetails.Car.CarModel</h3>
            <p>Type: <strong>@Model.CarDetails.Car.CarType</strong></p>
            <p>Price per Day: <strong>@Model.CarDetails.Car.PricePerDay.ToString("C")</strong></p>
            <hr />
            <p><strong>@Model.CarDetails.AgencyName</strong></p>
            <p>Phone: @Model.CarDetails.AgencyPhone</p>
            <p>Email: @Model.CarDetails.AgencyEmail</p>


            <a asp-action="Book" class="btn btn-success mt-3">Book This Car</a>
        </div>
    </div>


    <hr />
    <h4>Other Cars from This Agency</h4>


    @if (Model.CarDetails.OtherCars.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Price/Day</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.CarDetails.OtherCars)
                {
                    <tr>
                        <td>@car.CarModel</td>
                        <td>@car.CarType</td>
                        <td>@car.PricePerDay.ToString("C")</td>
                        <td>
                            <a asp-action="Details" asp-route-carId="@car.CarID" asp-route-agencyId="@car.AgencyID" class="btn btn-outline-primary btn-sm">View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}